*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(97, 99, 110, 0.692),rgba(80, 82, 90, 0.7)),url(img/covicure.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.title{
    position: absolute;
    margin-top: 70px;
    margin-left: 50px;
    transform: translate(-50%,-50%);
}
.title h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif Bold;
    color: rgb(255, 255, 255);
    font-size: 100px;
}
nav img{
    width: 100px;
}
nav{
    display: flex;
    padding:1% 2%;
    justify-content:space-between;
    align-items:center;
}
.nav-links ul{
    float: right;
    list-style: none;
    display: inline-block;
    margin-top: 0px;
    margin-right: 5px;
}
.nav-links ul li{
    display: inline-block;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 15px;
    border:2px solid #345a69;
    transition: 0.5s;

}
.nav-links ul li a:hover{
    background: #36a1e9;
    color: #fff;
}
.bouncy{
     animation:bouncy 5s infinite linear;
     position:relative;
}
    @keyframes bouncy {
     0%{top:0em}
     40%{top:0em}
     43%{top:-0.9em}
     46%{top:0em}
     48%{top:-0.4em}
     50%{top:0em}
     100%{top:0em;}
}
.text-box{
    width: 100%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 40px;
}
.text-box h2{
    font-size: 65px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 150px;
    padding: 70px;
    text-align:center;
    transition: all 0.5s;
}
.grid-item{
    border: 2px solid rgba(9, 56, 143, 0.658);
    padding: 50px;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: skyblue;
    border-radius: 0.50em;
    text-decoration: none;
}
.grid-item:hover{
    color: lightskyblue;
    background-color: rgb(77, 99, 112);
}
@media all and (max-width:30em){
    a.grid-item{
      display:block;
      margin:0.4em auto;
    }
}
.info-1{
    background-image: linear-gradient(to right top, #fef9fb, #faf6f9, #f6f2f7, #f1eff4, #ececf2, #e5eaf7, #dae9fc, #cce9ff, #adecff, #84f0ff, #54f3fc, #1af5e7);
}
#btn1,#btn2,#btn3,#btn4{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.info-2{
    background-image: linear-gradient(to left top, #303640, #252c39, #1a2231, #0f192a, #040d23);
}
.info-4{
    background-image: linear-gradient(to left top, #303640, #252c39, #1a2231, #0f192a, #040d23);
}
.info-3{
    background-image: linear-gradient(to right top, #fef9fb, #faf6f9, #f6f2f7, #f1eff4, #ececf2, #e5eaf7, #dae9fc, #cce9ff, #adecff, #84f0ff, #54f3fc, #1af5e7);
}
.info-5{
    background-image: linear-gradient(to right top, #fef9fb, #faf6f9, #f6f2f7, #f1eff4, #ececf2, #e5eaf7, #dae9fc, #cce9ff, #adecff, #84f0ff, #54f3fc, #1af5e7);
}
